<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="beIN Cast Fix"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="v2-inert diagnostic: no logging, class lookup, or hooks" />
        <meta-data android:name="xposedminversion" android:value="82" />
    </application>
</manifest>
